.carousel {
  width: 100%;
}

.carouselContainer {
  background-color: var(--light-grey);
  height: 100%;
  width: 100%;
}

.carouselSplide {
  height: 100%;
}

.cityCarousel {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--font-family);
  text-align: center;
  color: var(--main-blue);
  margin-top: 15px;
}

.cityList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  padding-top: 30px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 35px;
}

.iconAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dataCarousel {
  font-size: 1rem;
  color: var(--main-blue);
}
.splide__arrow svg {
  fill: var(--orange);
}
.splide__arrow:hover:not(:disabled) svg {
  fill: var(--orange);
}

.splide__pagination__page.is-active {
  background: var(--orange);
}
@media screen and (min-width: 768px) {
  .carousel {
    height: 100%;
    width: 25vw;
  }

  .carouselContainer {
    height: 100%;
    background-color: var(--light-grey);
    width: 25vw;
    max-width: 500px;
  }

  .splide__track {
    height: 100%;
  }
  .splide__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logoCarousel {
    object-fit: contain;
    height: 10vh;
  }

  .dataCarousel {
    font-size: 2.5vh;
  }
  .cityCarousel {
    font-size: 4vh;
  }

  .cityList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
  }
}
