.map {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.leaflet-container {
  height: 100%;
}

.mapContent {
  height: 100%;
  width: 40vw;
  overflow: hidden;
}

form {
  display: flex;
  justify-content: center;
  margin: 5px;
  font-size: 1rem;
}

@media screen and (min-width: 769px) {
  .map {
    width: 100%;
  }
}
