.homeContent {
  height: calc(100vh - 105px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reverseSection {
  height: calc(100vh - 105px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carouselSection {
  height: auto;
}
.sectionIntroSearchArray {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  width: 100%;
}
.searchBarButtonArrayResults {
  height: auto;
}
.arrayDefault {
  display: none;
}
.filterButtonsPosition {
  display: none;
  gap: 5px;
}
.sectionMap {
  display: none;
}
.selectedCities {
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
  color: var(--text-color);
}
.listCitiesSelected {
  margin-top: 10px;
  text-decoration: underline;
}
.buttonSelectionned {
  background-color: var(--main-blue);
  color: white;
  margin: 5px;
  border-radius: 5px;
  border: 0;
}

@media screen and (min-width: 769px) {
  .homeContent {
    display: flex;
    flex-direction: row;
  }

  .reverseSection {
    height: calc(100vh - 105px);
    display: flex;
    flex-direction: row-reverse;
  }

  .arrayDefault {
    display: flex;
    margin: 0px 15px;
    font-weight: 600;
  }
  .filterButtonsPosition {
    display: flex;
    gap: 5px;
  }
  .sectionMap {
    display: flex;
    flex-direction: column;
  }
}
