.homeContent {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 769px) {
  .homeContent {
    flex-direction: row;
  }
}
.filterButtonsPosition {
  display: flex;
  gap: 5px;
  position: absolute;
  transform: translate(1600px, 12px);
  overflow: visible;
}
