:root {
  --dark-blue: rgba(37, 32, 92, 1);
  --blue-1: rgba(62, 60, 92, 1);
  --blue-2: rgba(68, 59, 169, 1);
  --blue-3: rgba(89, 77, 219, 1);
  --light-blue: rgba(153, 146, 225, 1);
  --white: rgba(246, 246, 252, 1);
  --orange: rgba(252, 121, 0, 1);
  --font-family: "Raleway", sans-serif;
  --text-color: rgba(62, 60, 92, 1);
}
