:root {
  --main-blue: rgba(37, 32, 92, 1);
  --gray: rgba(62, 60, 92, 1);
  --violet: rgba(68, 59, 169, 1);
  --second-blue: rgba(89, 77, 219, 1);
  --light-grey: rgba(153, 146, 225, 0.3);
  --white: rgba(246, 246, 252, 1);
  --orange: rgba(252, 121, 0, 1);
  --font-family: "Raleway", sans-serif;
  --text-color: rgba(62, 60, 92, 1);
}
